<h1>Bienvenido</h1>
<p>
  En breve podrás solicitar equipos informáticos para tu organización.
  Mientras tanto, echa un ojo a nuestro <%= link_to "stock", stock_index_path %>.</br>
  O accede a nuestro <%= link_to "formulario", new_component_path %>
</p>